### Variable Assignment

In [5]:
# Can not start with number or special characters
name_of_var = 2

In [6]:
x = 2
y = 3

In [7]:
z = x + y

Note that the line above doesn't print the value of z. Jupyter doesn't have a symbol like MATLAB's ; to supress/force output. There is a notebook extension for a similar symbol, but without it you will need to explicitly print the variable value.

In [8]:
z

5

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

# Types

- Values in Python have an associated _type_.

- If we combine types incorrectly we get an error.

In [4]:
print y

Hello There

In [5]:
y + 5

TypeError: cannot concatenate 'str' and 'int' objects

# The type function

- We can query the type of a value using the `type` function.

In [16]:
type(1)

int

In [17]:
type('hello')

str

In [18]:
type(2.5)

float

In [29]:
type(True)

bool

# Converting values between types

- We can convert values between different types.

- To convert an integer to a floating-point number use the `float()` function.
- To convert a floating-point to an integer use the `int()` function.

In [7]:
x = 1
print type(x)
print x

<type 'int'>
1

In [6]:
y = float(x)
print type(y)
print y

<type 'float'>
1.0

In [8]:
print int(y)

1